<!DOCTYPE html>
<html>
<head>
  <title>MyRunnersKeeper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <p class="header-links">
      <% if logged_in? %>
        Hello, <%= current_runner.first_name %>!
      <% else %>
        Hello, visitor!  <%= link_to "Log in", sessions_login_path %> or <%= link_to "Register", runners_new_path %>
      <% end %>
      | <%= link_to "Home", root_path %>
    </p>
  </header>
<%= yield %>

</body>
</html>
